<?xml version="1.0" encoding="UTF-8"?>
<testTakers>
    {# @var test_taker App\Domain\Model\TestTaker #}
    {% for test_taker in test_takers %}
        <testTaker>
            <login>{{ test_taker.login }}</login>
            <password>{{ test_taker.password }}</password>
            <title>{{ test_taker.title }}</title>
            <lastname>{{ test_taker.lastname }}</lastname>
            <firstname>{{ test_taker.firstname }}</firstname>
            <gender>{{ test_taker.gender }}</gender>
            <email>{{ test_taker.email}}</email>
            <picture>{{ test_taker.picture }}</picture>
            <address>{{ test_taker.address }}</address>
        </testTaker>
    {% endfor %}
</testTakers>
